.group {
  justify-content: space-around;
  background: #335;
  width: 300px;
  margin: 30px;
  height: 80px;
  display: grid;
  grid-template-columns: 100px 80px;
  border-radius: 15px;
}
input,
select {
  background: none;
  border: 0;
  color: #fff;
}
input {
  padding-left: 10px;
  width: fit-content;
  outline: none;
}
select {
  padding: 15px;
  outline: none;
}

.select {
  width: 30px;
  display: flex;
}
